<!-- Footer -->	
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-4 text-center">
						<img src="img/wine.png" style="height: 200px; width: 200px;"/>
					</div>
					<div class="col-sm-8">
					<br>
						<span class="title">About The Company:</span>
						<p> 
							Lorem ipsum dolor sit amet, ei vix mazim alterum abhorreant. Debet primis ut quo. Duo clita inimicus ne.
							Reque explicari et cum, veritus forensibus dissentiunt ne mei. Ornatus propriae quaerendum mea te. 
							Cu sed minim moderatius, est nibh atomorum ei. Eu duo eirmod iuvaret.
						</p>
						
						<span>
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
						</span>
					</div>
				</div>
			</div>
			
			<div class="bottom-footer">
				<div class="col-sm-12 text-center">
						<small>&copy; Copyright 2018, Hidden Harbor</small>
				</div>
			</div>
		</footer>
	<!-- /.Footer -->