.jh-container{
	min-height: 100%;
}

.jh-jumbo{
	background-image: url("/vineyard.png");
	max-width: 100%;
	height: auto;
	color: #f5f5f0;
}

.jh-ptext{
	margin-bottom: 90px !important;
}

.jh-htext{
	margin-top: -7px;
}

.jh-box{
	width: 400px;
	height: 400px;
	border: 25px solid #cc9966;
  	padding: 25px;
  	margin: 25px;
  	margin-left: 34%;
  	margin-top: 60px;
}
