.jh-navbar{
	background-color: #6699ff;
	height: 120px;
}

.jh-navlogo{
	height: 170px;
    width: 170px;
    margin-top: -19%;
    margin-left: -10%;
}

.jh-table{
	width: 100%;
}

.jh-card{
	background-color: blue;
	width: 200px;
}