.jh-navbar{
	background-color: #6699ff;
	height: 120px;
}

.jh-navlogo{
	height: 170px;
    width: 170px;
    margin-top: -19%;
    margin-left: -10%;
}

.jh-table{
	width: 100%;
}

.jh-card{
	background-color: #6699ff;
	width: 25%;
    height: 360px;
    margin-bottom: 5%;
}

.jh-container{
/* 	background-image: url("https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2014%2F08%2F31%2F18%2F50%2Fvintage-432309_960_720.jpg&f=1");
 */	background-repeat: none;
}