.jh-container{
	min-height: 100%;
}

.jh-jumbo{
	background-image: url("/img/redWine1copybig.jpeg");
	max-width: 100%;
	height: auto;
	color: #f5f5f0;
	margin-bottom: 100px;
}

.jh-ptext{
	margin-bottom: 90px !important;
	color: black
}

.jh-htext{
	margin-top: -7px;
}

.jh-box{
	width: 400px;
	height: 400px;
	border: 25px solid #cc9966;
  	padding: 25px;
  	margin: 25px;
  	margin-left: 34%;
  	margin-top: 60px;
}

html, body {
	background-color: black;
	/* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpapmmpJMIxVO8zCSEFiM2Fd2W52n0Z6ouiyfTnbhnAgUyH0NM"); */
}