body{
	font-family: 'Cardo', serif;
} 

/* navigation  */
.navbar {
	padding: 0em 1rem;
    background-color: rgba(0, 0, 0, 0.8);
  	border-top: 5px solid hsl(0, 100%, 25%);
}
.navbar-light .navbar-nav .nav-link {
    color: white; 
	font-size: 100%;
	font-family: 'Playfair Display SC', serif;
	height: 100%;
	padding: 2em;
}

.navbar-light .navbar-brand , .navbar-light .navbar-brand:hover {
    color: white;
	font-size: 180%;
}

nav ul li a:hover{
    background-color: hsl(0, 30%, 85%);
  	color: hsl(0, 100%, 25%);
}

nav.nav-opacity{
    background-color: rgba(0, 0, 0, 0.8);
}
/* ./navigation  end*/

/* footer */
footer {
	margin: 0;
  	border-top: 5px solid hsl(0, 100%, 25%);
}
footer span.title{
	color: hsl(0, 0%, 13%);
	font-size: 120%;
	font-weight: 700;
	text-align: center;
	font-family: 'Playfair Display SC', serif;
}

.bottom-footer{ 
    padding: 2rem 1rem;
    margin-bottom: 2rem;
  	color: hsl(0, 100%, 25%);
	font-weight: 700;
}
/* ./footer end  */

/* parralax backgrounds */
.p1{
	background-image: url('img/wine-cork.jpeg');
	position: relative;
  	height: 150vh;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center; 
	background-size: 100%;
}
  
 .p2{
	background-image: url('img/wine-grapes.jpeg');
	position: relative;
  	height: 150vh;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center; 
  	background-size: 100%;
}

.p3{
	background-image: url('img/wine-glasses.jpg');
	position: relative;
  	height: 150vh;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center; 
  	background-size: 100%;
}
/* parralax backgrounds end */


.main-header{
	color: white;
	font-size: 300%text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}



.main .main-header{
	padding-top: 3em;
	color: white;
	font-size: 500%;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
