<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Chardonnay</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="chardonnay.css" type="text/css">
	</head>
	<body>
	<div class="jh-container">
	
		<div class="jumbotron jumbotron-fluid jh-jumbo">
  			<div class="container">
    			<h1 class="display-3 jh-htext">Chardonnay</h1>
    			<p class="jh-ptext">“Accept what life offers you and try to drink from every cup. All wines should be tasted; some should only be sipped, but with others, drink the whole bottle.” 
― Paulo Coelho, Brida</p>
 			</div>
		</div>
		
		<div class="jh-box">
			<div class="jh-boximage1">
			</div>
		</div>

		<div class="jh-box">
			<div class="jh-boximage2">
			</div>
		</div>
	
		<div class="jh-box">
			<div class="jh-boximage3">
			</div>
		</div>
		
		<div class="jh-box">
			<div class="jh-boximage4">
			</div>
		</div>
		
		<div class="jh-box">
			<div class="jh-boximage5">
			</div>
		</div>
		
		<div class="jh-box">
			<div class="jh-boximage6">
			</div>
		</div>
		
		
		
	
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	</div>
	</body>
</html>