<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Chardonnay</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" href="chardonnay.css" type="text/css">
	</head>
	<body>
	<div class="jh-container">
	
		<div class="jumbotron jumbotron-fluid jh-jumbo">
  			<div class="container">
    			<h1 class="display-3 jh-htext">Chardonnay</h1>
    			<p class="jh-ptext">“Accept what life offers you and try to drink from every cup. All wines should be tasted; some should only be sipped, but with others, drink the whole bottle.” 
― Paulo Coelho, Brida</p>
 			</div>
		</div>

		<div class="card-columns">
			<div class="card">
		    <img class="card-img-top" src="/img/echeverris.jpeg" alt="Echeverria">
			    <div class="card-body">
			      <h5 class="card-title">Echeverria Family Wine</h5>
			      <p class="card-text">The Viña Echeverría Reserva range comprises seven wines, which are characterized by their lively and fruity appeal. Fresh and vibrant with little or no oak, they are a true expression of the individuality of each grape variety.</p>
			    </div>
		  	</div>
		  	<div class="card">
			    <img class="card-img-top" src="/img/chardonnay.jpeg" alt="Chardonnay">
			    <div class="card-body">
			      <h5 class="card-title">Month Nitty Chardonnay</h5>
			      <p class="card-text">The wines in this range have undergone fermentation or aging in oak barrels (except the Sauvignon Blanc), resulting in more full-bodied wines with a greater scope of complex flavors. Focus is on French varietals, barrels and yeasts, which makes this range more stylistically European but with New World intensity and flavor.</p>
			    </div>
		  	</div>
		  	<div class="card">
			    <img class="card-img-top" src="/img/beckon.jpeg" alt="Bekon">
			    <div class="card-body">
			      <h5 class="card-title">Beckon</h5>
			      <p class="card-text">The wines in the Valle Dorado range are fun, fruity and easy-drinking. Representing six different classic grape varieties, this range has evolved from our customers’ demand for good-quality, affordable house and entry-level wines.</p>
			    </div>
		  	</div>
		</div>
		
		<div class="card-columns">
			<div class="card">
		    <img class="card-img-top" src="/img/argento.jpeg" alt="Argento">
			    <div class="card-body">
			      <h5 class="card-title">Argento</h5>
			      <p class="card-text">Responding to our clients’ growing demand for this genre of wines, our Sparkling Collection of wines offers a wide variety of style and price points. From fun and fruity to our elegant award-winning Traditional Method Sparkling, we have something for every palate and pocket.</p>
			    </div>
		  	</div>
		  	<div class="card">
			    <img class="card-img-top" src="/img/blanca.jpeg" alt="Blanca">
			    <div class="card-body">
			      <h5 class="card-title">Blanca</h5>
			      <p class="card-text">n this range we invite you to celebrate with us some of Chile’s top-rated wines, made using techniques as old as wine itself. From our award-winning ‘Liquid Gold’ Botrytis Sauvignon Blanc to the rich, jammy, Signatura 1, this range offers you wines of world-class complexity and flavors.</p>
			    </div>
		  	</div>
		  	<div class="card">
			    <img class="card-img-top" src="/img/pine-ridge.jpeg" alt="Pine-ridge">
			    <div class="card-body">
			      <h5 class="card-title">Pine-ridge</h5>
			      <p class="card-text">A wine with buttery characteristics has been aged in oak and generally is rich and flat (less Acidity). A buttery wine often has a cream-like texture that hits the middle of your tongue almost like oil (or butter) and has a smooth finish.</p>
			    </div>
		  	</div>
		</div>
		
		<div class="card-columns">
			<div class="card">
		    <img class="card-img-top" src="/img/kloovenburg.jpeg" alt="kloovenburg">
			    <div class="card-body">
			      <h5 class="card-title">Kloovenburg</h5>
			      <p class="card-text">The least fruit-like of all dark fruits. When writers mention cassis, they are often thinking of the seedy and gritty character of actual black currants. Homework assignment: try a black currant and report back.</p>
			    </div>
		  	</div>
		  	<div class="card">
			    <img class="card-img-top" src="/img/sonoma.png" alt="Sonoma">
			    <div class="card-body">
			      <h5 class="card-title">Sonoma</h5>
			      <p class="card-text">Big describes a wine with massive flavor in your mouth that takes up all sections of your mouth and tongue. A big wine is not necessarily a fruit-forward wine, it can also mean that it has big tannins.</p>
			    </div>
		  	</div>
		  	<div class="card">
			    <img class="card-img-top" src="/img/tormaresca.jpeg" alt="Tormaresca">
			    <div class="card-body">
			      <h5 class="card-title">Tormaresca</h5>
			      <p class="card-text">A complex wine simply means that when you taste it, the flavor changes from the moment you taste it to the moment you swallow. As much as I love complex wines, using the word “complex” to describe a wine is a cop-out unless you go on to describe how it’s complex.</p>
			    </div>
		  	</div>
		</div>

	
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</div>
	</body>
</html>