<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	
	<head th:include="../static/fragments/head.html :: head">
		<title id="pageTitle">Hidden Harbor Wine</title>
    </head>
	
	<body>
	<!-- Navbar -->
    <div class="navigation" th:include="../static/fragments/navbar.html"></div>
	<!--/.Navbar -->
	
	<!-- MAIN TEXT HERE -->
	<!-- /.MAIN-->
		
	<!-- Footer -->	
		<footer th:include="../static/fragments/footer.html :: footer"></footer>
	<!-- /.Footer -->
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" type="text/javascript"></script>
	
	</body>
</html>