<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Hidden Harbor Wine</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="index.css" type="text/css">
</head>

<body>
<div class="jh-container">
      <table class="jh-table">
         <tr>
            <td colspan = "2">
               <nav class="navbar sticky-top navbar-dark jh-navbar">
					<a class="navbar-brand"><img class="jh-navlogo" src="wine.png" alt="Wine Logo">
					</a>
				</nav>
            </td>
         </tr>
      </table>
      
      <div class="card" style="width: 18rem;">
  			<img class="card-img-top" src="..." alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="#" class="btn btn-primary">Go somewhere</a>
  		</div>
	 </div>
	 <div class="card" style="width: 18rem;">
  			<img class="card-img-top" src="..." alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="#" class="btn btn-primary">Go somewhere</a>
  		</div>
	 </div>
	<div class="card" style="width: 18rem;">
  			<img class="card-img-top" src="..." alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="#" class="btn btn-primary">Go somewhere</a>
  		</div>
	</div>
	 <div class="card" style="width: 18rem;">
  			<img class="card-img-top" src="..." alt="Card image cap">
  		<div class="card-body">
    		<h5 class="card-title">Card title</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="#" class="btn btn-primary">Go somewhere</a>
  		</div>
	</div>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>


</html>