<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>White Wine</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="chardonnay.css" type="text/css">
	</head>
	<body>
	<div class="cg-container">
	
		<div class="jumbotron jumbotron-fluid cg-jumbo">
  			<div class="container">
    			<h1 class="display-3 jh-htext">White Wine</h1>
    			<p class="cg-ptext"></p>
 			</div>
		</div>
		
		<div class="cg-box">
			<div class="cg-boximage1">
			</div>
		</div>

		<div class="cg-box">
			<div class="cg-boximage2">
			</div>
		</div>
	
		<div class="cg-box">
			<div class="cg-boximage3">
			</div>
		</div>
		
		<div class="cg-box">
			<div class="cg-boximage4">
			</div>
		</div>
		
		<div class="cg-box">
			<div class="cg-boximage5">
			</div>
		</div>
		
		<div class="cg-box">
			<div class="cg-boximage6">
			</div>
		</div>
		
		
		
	
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	</div>
	</body>
</html>